
<div class="container">

	<div class="row">
    <br>
		<div class="col-md-6 col-md-offset-3">

			<div id="accordion">

			  <h3>Nexus</h3>
			  <div>
			    <ul style="text-align: left; line-height:40px">
						<li> A connected group </li>
            <li> The central and most important point </li>
					</ul>
          <hr>
          <br>
					This website provides a backdrop to consider how water
					connects life in Northern and Central California.
					<br>
			  </div>

			  <span>Have</span>
			  <div>
          <br>
          How Much Water Do We Have?
          <hr>
          <br>
          Consider this map of past and current water conditions in Northern and
          Central California:
          <br><br>
  				<%= link_to "Water Conditions", water_conditions_path,
            {style: 'color: #6699FF'} %>
				</div>

			  <h3>Use</h3>
			  <div>
          <br>
          For What Purposes Do We Use Water?
          <hr>
          <br>
          Many things, of course. Let's look at the cost of export crops over the last
          several years:
          <br><br>
					<%= link_to "Changes in Exporting Costs of Produce", farm_economics_path,
            {style: 'color: lightcoral'}  %>
			  </div>

			  <h3>Think</h3>
			  <div>
          <br>
			    What Do We Think About Water?
          <hr>
          A look at a Tumblr blog provides some view of opinions:
          <br><br>
					<%= link_to "Public Opinions", public_opinions_path,
            {style: 'color: lightseagreen'}  %>
				</div>

			</div>

		</div>

	</div>

</div>
