
<div class="container">

	<h3>Change in Export Price</h3>
	<div id="graph" class="graph" style="position:relative;width:100%;height:630px"></div>

</div>
		Drought start is questionable but many say 2011.
		pcts of water used for crops
