

<div class="container">

  <h3>Water Conditions in Northern & Central California</h3>

  <!-- <body> -->

    <div class="row">

      <div class="col-md-7">
        <div id="map-canvas"></div>
        
      </div>
      <div class="col-md-9">
        "MOO"
      </div>

    </div>

  <!-- </body> -->

</div>
