

<div class="container">

  <h3>Northern & Central California</h3>

  <!-- <body> -->

    <div class="row">

      <div class="col-md-7">
        <div id="map-canvas"></div>
      </div>
      <div class="col-md-9 col-md-7-offset">
        This map shows locations of gauged lake and reservoirs depths and volumes.

        A heat map shows how depths and volumes have changed:

          Difference between 2009 and 2012
          Difference between 2009 and 2015

      </div>

    </div>

  <!-- </body> -->

</div>
