

<div class="container" align="center">
  <br>
  <div id="cloudy" style="width: 700px; height: 500px">
  </div>
  <button style="font-size: 15pt"> <%= link_to 'Back', nexus_items_path%></button>
</div>
