

<div class="container" align="center">

  <br>
  <div id="cloudy" style="width: 700px; height: 500px">
  </div>

  <div style="text-align: right">
    <button style="font-size: 15pt"> <%= link_to 'Back', nexus_items_path%></button>
    <button style="font-size: 15pt"> <%= link_to 'Have', water_conditions_path%></button>
    <button style="font-size: 15pt"> <%= link_to 'Use', farm_economics_path%></button>
  </div>

</div>
