

<div class="container" align="center">

  <div style="font-size: 15pt">
    A <b>Tumblr</b> blog called #StateOfDrought provides some sense of opinion/thought on current
    water conditions.
  </div>

  <br>
  <div id="cloudyRange" style="width: 700px; height: 20px; font-size: 15pt">
  </div>

  <hr>
  <br>
  <div id="cloudy" style="width: 700px; height: 500px">
  </div>
  <br>

  <div style="text-align: right">
    <button style="font-size: 15pt"> <%= link_to 'Nexus', nexus_items_path%></button>
    <button style="font-size: 15pt"> <%= link_to 'Have', water_conditions_path%></button>
    <button style="font-size: 15pt"> <%= link_to 'Use', farm_economics_path%></button>
  </div>

</div>
