/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/

 @import "bootstrap-sprockets";
 @import "bootstrap";

 .navbar-inverse {
     background-color: orange;
 }


// For D3 - Produce Plot ...

 body {
   margin:10px 5px 30px 60px;
   width: 1060px;
 }

 text {
   font: 15px sans-serif;
 }

 .axis path,
 .axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
 }

 .x.axis path {
   display: none;
 }

 .line {
   fill: none;
   stroke: url(#temperature-gradient);
   stroke-width: 2.5px;
 }
