/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui.min
 *= require jquery-ui.structure.min
 *= require jquery-ui.theme.min
 *= require jqcloud
 */

/*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 85px;
  padding-bottom: 85px;
  }

.navbar {
  border-bottom-style: solid;
}

.navbar-inverse {
     background-color: orange;
 }

.navbar-inverse-water {
    background-color: lightskyblue;
}

.navbar-inverse-farm {
    background-color: lightcoral;
}

.navbar-inverse-opinion {
    background-color: lightseagreen;
}

// For D3 - Produce Plot ...
// Also, html tag below needed for google maps to work
body {
   width: 100%;
   margin-left: 0%;
   margin-right: 0%;
   padding-left: 0;
   padding-right: 0;
   border: 0;
  }

.static_pages {
  background: url("northern_ca.jpg");
  background-size: cover;
}

.nexus_items {
  background: url("northern_ca.jpg");
  background-size: cover;
}

.water_conditions {
  background-color: lightorange;
}

.centered {
  text-align: center;
}

 text {
   font: 15px sans-serif;
 }

 .axis path,
 .axis line {
   fill: none;
   stroke: #000;
  //  shape-rendering: crispEdges;
 }

 // .x.axis path {
 //   display: none;
 // }

 .line {
   fill: none;
   stroke: url(#temperature-gradient);
   stroke-width: 2.5px;
 }


.container{
  min-height: 500px;
}

//For Google map
html body #map-canvas {
  height: 100%;
  min-height: 600px;
  border-radius: 6px 6px 6px 6px;
  border: solid 2px;
  border-color: black;
}

#accordion .ui-accordion-header {
    font-size: 20pt;
    text-align: center;
    padding-left: 0;
}

#accordion .ui-accordion-content {
    font-size: 15pt;
    line-height: 20pt;
    text-align: center;
}
