<!DOCTYPE html>
<html>
<head>
  <title>WaterSo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script
    type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBvl4BMeT37sTUfo7_7xxFiunyVKMolr0&libraries=visualization&sensor=true_or_false">
  </script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  </nav>

<%= yield %>

</body>
</html>
